body {
    background-color: rgb(24, 24, 25);

}
.form {
    display: flex;
    width: 1900px;
    height: 940px;
    justify-content: center;
    align-items: center;
}
.url {
    width: 300px;
    height: 50px;
    font-size: 30px;
    border-radius: 5px;
    border: 2px black solid;
    background-color: rgb(42, 48, 79);
    color:antiquewhite;
}
.url:focus {
    outline: 2px rgb(42, 48, 79) solid;
    border-color: rgb(42, 48, 79);
}