body {
  background-color: rgb(24, 24, 25);

}
.form {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.url {
  width: 300px;
  height: 50px;
  font-size: 30px;
  border-radius: 5px;
  border: 2px black solid;
  background-color: rgb(42, 48, 79);
  color: #f7f8fa;
  font-family: "Trebuchet MS", sans-serif;
}
.url:focus {
  outline: 2px rgb(42, 48, 79) solid;
  border-color: rgb(42, 48, 79);
}

.select-out {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.engine {
  background-color: rgb(42, 48, 79);
  border-radius: 5px;
  border-color: rgb(42, 48, 79);
  box-shadow: none;
  color: black;
  width: 150px;
  height: 25px;
  font-family: "Trebuchet MS", sans-serif;
}

.engine:hover {
  color: #f7f8fa;
}

.top-text {
  display: flex;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
  margin-bottom: 10px;

}

.text {
  color:#f7f8fa;
  font-size: 45px;
}